[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
anthropic = "*"
python-dotenv = "*"
crawl4ai = "*"

[dev-packages]

[requires]
python_version = "3.8"
